@import "tailwindcss";
@plugin "daisyui";

.rubik-font {
  font-family: "Rubik Wet Paint", system-ui;
  font-weight: 400;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: 800; */
  /* font-style: normal; */
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  scroll-behavior: smooth;
}

.grad {
  width: 500px;
  background: radial-gradient(circle at 70% 30%, #338a45, #5bab60);
}

body {
  background: url("./assets/bg.svg") repeat-y;
  margin: 0 auto;
  background-size: cover;
  height: auto;
  width: 100%;
  overflow-x: hidden;
}

.hero-bg {
  background-image: url("./assets//home-hero-img.svg");
  width: 100%;
  position: relative;
  overflow-y: hidden;
  height: 100vh;
}

.flip {
  transform: scaleX(-1);
  /* transform: rotate(180deg); */
}

.bgblur {
  backdrop-filter: blur(8px);
}
.spinner {
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 100vh;
  font-size: 5rem;
}

.mage,
.frog,
.moon {
  /* width: 200px; */
  /* height: 200px; */
  border: 1px solid black;
}

/* animations  */

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
.floating1 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}
.floating2 {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.floating3 {
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  to {
    transform: translate(0, -0px);
  }
}

/* shop card */

.shopcard {
  position: relative;
  max-width: 290px;
  height: 215px;
  background-color: #ffffff80;

  margin: 60px 10px;
  padding: 20px 15px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  /* z-index: 4; */
}
.shopcard:hover {
  height: 350px;
}

.shopcard .image {
  position: relative;
  width: 260px;
  height: 260px;

  top: -40%;
  left: 1px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.shopcard .image img {
  max-width: 100%;
  border-radius: 15px;
}

.shopcard .content {
  position: relative;
  top: -140px;
  padding: 10px 15px;
  color: #111;
  text-align: center;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.shopcard:hover .content {
  margin-top: 30px;
  visibility: visible;
  opacity: 1;
  /* z-index: 2; */
  transition-delay: 0.2s;
}

.cont {
  position: relative;
}

/* swipper bullets */
.swiper-pagination-bullet {
  background-color: rgb(14 211 207);
}

.swiper-pagination-bullet-active {
  background-color: rgb(211, 14, 106);
}

.footer-bg {
  background: url("./assets/footer.svg") no-repeat;
  width: 100%;
  background-size: cover;

  /* backdrop-filter: blur(10px); */
}

.footer-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.foot-bottom {
  background: url("./assets/footerBottom.svg") repeat-x;
  width: 100%;
  height: 100px;
  background-position: bottom;
  position: relative;
  bottom: 0;
}

/* login registeration  */

.regbg {
  background: url("./assets//regbg.svg") no-repeat;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* revolve */

/* <!-- Tailwind Custom Animation --> */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.counter-rotate {
  animation: counter-spin 10s linear infinite;
}

@keyframes counter-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.img-rotation {
  transform: rotate(88deg);
}

/* body {
  background-color: #338a45;
  width: 100%;
} */
